.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.pop-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;

}

.pop-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16 px;
}