.App {
    text-align: center;
    
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #75B9BE, #A8CCC9, #B3D6C6, #DCEAB2, #C7D66D);
}

.auth-form-container, .login-form, .register-form{
    text-align: center;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
}

.AboutUse {
    text-align: center;
    display: flex;
}

.MeetTheTeam, .Motivation{
    text-align: left;
    padding: 2.25rem;
}

.landingLogo {
    max-width: 50%;
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    
}

button {
    border: none;
    background-color: #E3C26D;
    padding: 10px;
    border-radius: 15px;
}

.link-btn {
    background-color: #E39E6D;
}

